<!-- find me in users/new -->
<h1>Sign up to use the LTI tool</h1>

<h3>Please enter your springest id</h3>

<% custom_params.each do |key, value| %>
  <%= hidden_field_tag :user %>

<%= form_for @user , :method => :post  do |f| %>
  User_id: <%= f.text_field :user_id %><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<!-- JS hidden values from form.js -->